version: "3.8"
services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=db_InfuseMe  #da vedere
      - DB_USER=infuseme_user
      - DB_PASSWORD=InfuseMe123!
  
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: db_InfuseMe  #da vedere questi parametri
      MYSQL_USER: infuseme_user    #
      MYSQL_PASSWORD: InfuseMe123! #
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d  #importa SQL automaticamente
    ports:
      - "3307:3306"
    restart: unless-stopped

volumes:
  mysql_data:
